/* General */
:root{
    --elettricblue: #2D64E6;
    --darkblue: #151C3B;
    --deepgray: #303030;
    --lightgray: #BEBCBB;
    --orange: #CD3D0F;
    --lightwithe: #D9DADC;
}

h2{
    font-size: 2.5rem;
}

/* /General */

/* Header */
#nav-top{
    height: 40px;
    background-color: black;
}

#nav-top img{
    width: 90px;
}

#nav-bottom{
    height: 80px;
    background-color: white;
}
/* /Header */

/* Main */
#jumbotron{
    padding: 17em 0 5em ;
    margin-top: 120px;
    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

#jumbotron img{
    width: 75%;
}

#jumbotron .btn{
    background-color: var(--orange);
    border-radius: 20px;
    color: white;
}

#game-cards img{
    width: 100%;
    border-radius: 20px;
}

#playstation5 img{
    width: 100%;
}

#playstation5 .ps5{
    border-bottom: 2px solid var(--elettricblue);
}

#playstation5 .btn{
    background-color: var(--elettricblue);
    border-radius: 20px;
}

#takestwo{
    padding: 17em 0 5em;
    margin-top: 80px;
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

#takestwo img{
    width: 50%;
}

#takestwo .btn{
    background-color: var(--orange);
    border-radius: 20px;
    color: white;
}

#nuove-uscite{
    background-color: var(--deepgray);
}

#nuove-uscite img{
    width: 100%;
    border-radius: 20px;
}

.card{
    border: none;
}

#playstation4 .btn{
    background-color: var(--elettricblue);
    border-radius: 20px;
}

#playstation-plus{
    background-color: var(--lightgray);
}

#playstation-plus .btn{
    background-color: var(--lightwithe);
    color: var(--elettricblue);
    border-radius: 20px;
}

#playstation-store img{
    width: 100%;
}

#playstation-now{
    background-color: var(--darkblue);
}

#playstation-now .btn{
    background-color: white;
    color: black;
    border-radius: 20px;
}

#media img{
    width: 100%;
}

#info{
    background-color: var(--elettricblue);
}

/* /Main */

/* Footer */
/* /Footer */